* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
}

#sec-1 {
    background-color: #452829;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.nav {
    padding: 2em 0;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    color: #E8D1C5;
    font-size: 1.5rem;
}

.nav ul li {
    list-style: none;
    color: #E8D1C5;
    margin: 0.5em 0.8em;
    font-size: 1.2rem;
}

.about {
    justify-content: space-between;
    padding-bottom: 3.5em;
}

.about h1 {
    font-size: 3rem;
    color: #F3E8DF;
    margin-bottom: 0.5em;
}

.about p {
    color: white;
    padding-right: 3em;
}

.about button {
    margin-top: 2.3em;
    padding: 0.7em;
    border-radius: 10px;
    border: none;
    background-color: #E8D1C5;
    color: #452829;
}

.about img {
    width: 50%;
    border-radius: 20px;
}

#sec-2 {
    color: #452829;
    padding: 4em 0;
    text-align: center;
}

#sec-2 h2 {
    font-size: 2rem;
    margin-bottom: 3em;
}

.menu {
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}

.menu img {
    width: 100%;
}

.menu figcaption {
    font-size: 1.3em;
    font-weight: bold;
}

#sec-3 {
    background-color: #F3E8DF;
    color: #57595B;
}

.quote {
    padding: 10em;
}

.quote blockquote {
    font-size: 2.2em;
    text-align: justify;
}

.quote p {
    font-size: 2.5em;
    text-align: right;
    margin: 0.2em 0;
}

#sec-4 {
    padding: 5em;
}

.contact {
    width: 70%;
    padding: 1em 2em;
    background-color: #452829;
    border-radius: 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.contact button {
    height: 40px;
    padding: 0 1em;
    background-color: #F3E8DF;
    color: #452829;
    border: none;
    border-radius: 20px;
}